<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <audio id="bgMusic" loop>
  <source src="/static/photos/song.mp3" type="audio/mpeg">
</audio>

<h2>Memories 🤍</h2>
<p>Tap the hearts</p>

<div class="memory-grid">

  <div class="memory-card" onclick="revealMemory(this)">
    <div class="heart-beat">🤍</div>
    <img src="/static/photos/love1.jpg">
  </div>

  <div class="memory-card" onclick="revealMemory(this)">
    <div class="heart-beat">💙</div>
    <img src="/static/photos/love2.jpeg">
  </div>

  <div class="memory-card" onclick="revealMemory(this)">
    <div class="heart-beat">💗</div>
    <img src="/static/photos/love3.jpeg">
  </div>

  <div class="memory-card" onclick="revealMemory(this)">
    <div class="heart-beat">❤️</div>
    <img src="/static/photos/love4.jpeg">
  </div>

</div>
<a href="/letter" class="btn"> here from heart to your heart 🤍</a>
<script src="/static/script.js"></script>
</body>
</html>
