<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<button onclick="playMusic()">Play Music 🎶</button>

<audio id="bgMusic" loop>
  <source src="/static/photos/song.mp3" type="audio/mpeg">
</audio>


<h1>Oyyy Abbaiii 🤍</h1>
<p>I made this… just for you.</p>

<div class="home-cards">

  <a href="/journey" class="home-card">
    <img src="/static/photos/journey.jpeg">
    <div class="card-text">Our Story</div>
  </a>

  <a href="/gallery" class="home-card">
    <img src="/static/photos/memories.jpeg">
    <div class="card-text">Memories</div>
  </a>

  <a href="/letter" class="home-card">
    <img src="/static/photos/heart.jpeg">
    <div class="card-text">From My Heart</div>
  </a>

</div>

<script src="/static/script.js"></script>
</body>
</html>
