<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="story-bg">

    <audio id="bgMusic" loop>
  <source src="/static/photos/song.mp3" type="audio/mpeg">
</audio>

<h2 class="story-title">💙 Our Story 🤍</h2>

<div class="story-flow">

  <div class="story-strip">I still remember our school days.<br>
  Back then, I never thought this would become us.</div>

  <div class="story-strip">Sir and student…<br>
  maybe it sounds strange to say now.<br>
  But that’s how it began.<br>
  Not planned. Not expected.</div>

  <div class="story-strip">I remember you following me.<br>
  Trying to talk.<br>
  Trying to impress me with your words.<br>
  And sometimes with chocolates.<br>
  I used to notice… even when I pretended not to.</div>

  <div class="story-strip">Then one day, you proposed.<br>
  I didn’t know what to say.<br>
  I needed time.<br>
  After six months, I finally said yes —<br>
  with a photo,<br>
  and feelings I couldn’t explain properly.</div>

  <div class="story-strip">After that, everything slowly changed.</div>

  <div class="story-strip">Chats that never felt boring.<br>
  Small chit-chats.<br>
  Calls that went longer than planned.<br>
  Those secret hugs in classrooms<br>
  that made my heart beat faster.</div>

  <div class="story-strip">Then 10th class came.<br>
  Life became heavy.<br>
  Family problems.<br>
  Silence.</div>

  <div class="story-strip">For six months, I didn’t talk to you.<br>
  But you were still there.<br>
  Waiting near my school gate.<br>
  Watching from a distance.<br>
  Following me everywhere.<br>
  Loving me without asking anything back.</div>

  <div class="story-strip">After my 10th,<br>
  when I spoke to you again…<br>
  it felt like breathing properly after a long time.</div>

  <div class="story-strip">PUC days brought new memories.<br>
  Our first outing — Vizag.<br>
  I still remember that feeling.<br>
  Our first movie together — Ala Vaikuntapuramulo.<br>
  Small moments… but they stayed.</div>

  <div class="story-strip">Two years passed.<br>
  Slowly, both our parents accepted us.<br>
  What started quietly<br>
  became something everyone knew.<br>
  A happy family.</div>

  <div class="story-strip">And now…<br>
  here we are.<br>
  Thinking about marriage.<br>
  About a future together.</div>

  <div class="story-strip">When I look back,<br>
  I don’t see just events.<br>
  I see patience.<br>
  Waiting.<br>
  Care.<br>
  And a love that never left.</div>

  <div class="story-strip">This is our story.<br>
  Not perfect.<br>
  But real.<br>
  And it’s still going 🤍</div>

</div>

<a href="/gallery" class="btn">and something waiting 💙</a>

<script src="/static/script.js"></script>
</body>
</html>
