<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>From My Heart 🤍</h2>

<audio id="bgMusic" loop>
  <source src="/static/photos/song.mp3" type="audio/mpeg">
</audio>

<div id="typing-text" class="letter-box"></div>



<script src="/static/script.js"></script>

<script>
/* YOUR MESSAGE (WRITE LIKE YOU TALK) */
const message = `
This isn’t a special day.
I just felt like telling you something.

I don’t always know how to explain what you mean to me,
but being with you feels easy.
Talking to you feels comfortable.
And that matters to me more than anything.

I care about you — in the small ways,
in the quiet moments,
even when I don’t say it out loud.

I love the way you irritate me,
like when you squeeze my cheeks just to see my reaction.
And honestly, I love irritating you too —
doing small things like squeezing your ear
just to annoy you and make you look at me.

I love the way you always try to kiss my cheeks,
like it’s your habit,
like you can’t help it.
Those small moments stay with me more than you know.

I respect you for who you are
and for the way you try, even on hard days.
I notice the little things you do,
and I can understand them.

You make my days feel better just by being there.
Sometimes you make me laugh,
sometimes you calm me down,
sometimes you’re just there —
and that’s enough.

This is how I love you.
Not perfect, not dramatic, just real and honest.

I just wanted you to know that you matter to me.
More than you probably realize.

Hope this little letter makes you smile.

Always 🤍
Your's little Chinnu ❤️ `;

let index = 0;
const speed = 40; // typing speed (lower = faster)

function typeLetter() {
  if (index < message.length) {
    document.getElementById("typing-text").innerHTML +=
      message.charAt(index) === "\n" ? "<br>" : message.charAt(index);
    index++;
    setTimeout(typeLetter, speed);
  }
}

window.onload = typeLetter;
</script>
<a href="/home" class="btn">and with love always 💗</a>
</body>
</html>
